#content {
    padding-top: 15px;
}
#title {
    padding-bottom: 5px;
    font-size: 20px;
}
/* 테두리 색이랑 호버효과 변경, 추가해야됨*/
#button {
    background-color: #CAD9EC;
    width: 200pt; 
    height: 30pt
}
.container{
    width: 1000px;
    margin:0 auto;
}
.title {
    font-size: 35px; 
    font-weight: bolder;
}