{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>네비게이션바</nav>
    {% block content %}

    {% endblock %}

    <footer class = "footer">
        <div class = "margin">
            <span style="color: #ffffff;">순천향대학교 & 한국기술교욱대학교 연합해커톤</span><br>
            <span style="color: #ffffff;">이예빈, 배연주, 차주원, 고다혜</span><br>
            <span style="color: #ffffff;">E팀은 2팀</span><br>
            <div>
                <a href="https://github.com/KnS-hacks/2-WithSpace" style="color: #ffffff;">https://github.com/KnS-hacks/2-WithSpace
                </a>
            </div>
            <div align = "right" style="color: #ffffff;">feat. 멋쟁이 사자처럼</div>    
        </div>
      </footer>
</body>
</html>