<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
</head>
<body>
    <div>
        <h2>내 정보</h2>
        <span>아이디 : </span>
        <span>{{ user.username }}</span><br>
        <span>닉네임 : </span>
        <span>{{ user.nickname }}</span><br>
        <span>전화번호 : </span>
        <span>{{ user.phone }}</span><br>
    </div>
</body>
</html>