{% extends 'base.html' %}
{% load static %}
{% block title %} 회원가입 페이지 {% endblock %}

{% block content %}
<style>
    hr {
        position: relative;
        width: 90%;
        right: 200px;
        height: 3px;
        border: 0;
        border-top: 1px solid #000;
    }

    #section_box {

        width: 1500px;
        height: 1600px;
        margin: 0 auto;
    }

    #makecenter {
        padding-top: 200px;
        padding-bottom: 20px;
        text-align: center;
    }

    #logintext {
        position: relative;
        right: 200px;
        font-size: 50px;
    }

    #socialbtn {
        position: relative;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        padding: 10px 100px;
        color: black;
        width: 70%;
        height: 80px;
        right: 200px;
        font-size: 20px;
    }

    .inputid {
        position: relative;
        font-size: 20px;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        right: 200px;
        padding: 10px 10px 10px 10px;
        line-height: 100px;
    }

    #btn {
        position: relative;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        background: #C8D9EB;
        padding: 10px 100px;
        color: black;
        width: 68%;
        height: 80px;
        right: 200px;
        top: 180px;
        font-size: 20px;
    }
</style>

<div id="wrap">
    <div id="section_box">
        <div id="makecenter">
            <div id="logintext">
                회원가입
                <br><br>
            </div>

            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <div class="inputid">
                    <input type="text" name="username" placeholder="아이디" size="80" style="border-radius: 10px;"
                        required>
                </div>
                <br><br><br><br><br><br><br>
                <div class="inputid">
                    <input type="text" name="nickname" placeholder="닉네임" size="80" style="border-radius: 10px;"
                        required>
                </div>
                <br><br><br><br><br><br><br>
                <div class="inputid">
                    <input type="text" name="phone" placeholder="전화번호" size="80" style="border-radius: 10px;" required>
                </div>
                <br><br><br><br><br><br><br>
                <div class="inputid">
                    <input type="password" name="password" placeholder=" 비밀번호" size="39" style="border-radius: 10px;"
                        required>

                    <input type="password" name="password2" placeholder=" 비밀번호 확인" size="39"
                        style="border-radius: 10px;" required>
                </div>
                <button type="submit" id="btn">회원가입</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}