.h_col2_bf {
    position: relative;
    bottom: 0px;    
    left: 870px;
    color: #fff;
    font-size: larger;
}
.h_col2_bf a{
    color: #fff;
    font-size: larger;
    text-decoration-line: none;
}
.h_col2_bf a:hover{
    
    color:#fff; 
}
.h_col2_bf button {
    bottom: 15px;  
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
#name {
    position: relative;
    left: 265px;
    bottom: 50px;
    font-family: HY견고딕;
}


/* .navbar {
    background-color: #CAD9EC;
} */
/* 전체영역에서 여백을 없애줌 */
/* * {
    margin: 0;
    padding: 0;
} */
/* ul li태그에 리스트 스타일을 없앰 */
/* ul li{
    list-style: none;
} */
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
/* .nav_a {
    text-decoration: none;
    color:#333;
} */
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
/* #menu {
    font:bold 16px "malgun gothic";
    width:auto;
    height:50px;
    background: #CAD9EC;
    color:black;
    line-height: 50px; 
    margin:0 auto;
}
#menu > ul > li:hover > ul {
    display:block;
} */

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
/* #menu > ul > li {
    float:left;
    width:auto;
    position:relative;
}
#menu > ul > li > ul {
    width:130px;
    display:none;
    position: absolute;
    font-size:14px;
    background: skyblue;
} */
