#main {
    display: flex;
}
footer {
    padding: 30px;
}
.footer {
    background-color: #CAD9EC;

}
.text {
    color: #ffffff;
}

.margin {
    margin-left:10px;
    margin-right:10px;
}
#wrapper {
    position: relative;
    height: 100%;
}