#content {
    padding-top: 15px;
}
#title {
    padding-bottom: 5px;
    font-size: 20px;
}
/* 테두리 색이랑 호버효과 변경, 추가해야됨*/
#button {
    background-color: #CAD9EC;
    width: 200pt; 
    height: 30pt
}
.container{
    width: 1000px;
    margin:0 auto;
}
<<<<<<< HEAD

.margin {
    margin-left:10px;
    margin-right:10px;
=======
.title {
    font-size: 35px; 
    font-weight: bolder;
}
.search_div{
    height: 40px;
    width: 1000px;
    border:1px solid #bbb7b7;
}
button {
    width: 50px;
    height: 100%;
    border: 0px;
    outline: none;
    float: right;
>>>>>>> 4b3143ce08c63da4bffd00f96e133fc9da616730
}
input {
    padding-left: 10px;
    width: 325px;
    height: 100%;
    border: 0px;
    outline: none;
    float:left
}