{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_header.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav>네비게이션바</nav>
        <!--header태그는 문서나 특정 섹션(section)의 헤더(header)를 정의할 때 사용합니다.-->
        <header>
            <div class="header1">
                <div class="header1_contents">
                    <div id="h1_logo">
                        <a href="">
                            withcloud
                        </a>
                    </div>

                    <div id="h_button1"><a href="">공간검색</a></div>
                    <span id="h_button2"><a href="">공간등록</a></span>
                    
                    <div class="h_col2_bf">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                            aria-expanded="false">&nbsp;&nbsp;</button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="">마이페이지</a></li>
                                <li><a href="">등록한 공간</a></li>
                                <li><a href="">사용한 공간</a></li>
                                <li><a href="">로그인</a></li>
                                <li><a href="">로그아웃</a></li>
                            </ul>
                        </div>
                        <div id="name"><p>임재경 님</p></div>
                    </div>
                </div>
            </div>
        </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        <div class="margin">
            <span style="color: #ffffff;">순천향대학교 & 한국기술교욱대학교 연합해커톤</span><br>
            <span style="color: #ffffff;">이예빈, 배연주, 차주원, 고다혜</span><br>
            <span style="color: #ffffff;">E팀은 2팀</span><br>
            <div>
                <a href="https://github.com/KnS-hacks/2-WithSpace"
                    style="color: #ffffff;">https://github.com/KnS-hacks/2-WithSpace
                </a>
            </div>
            <div text-align="right" style="color: #ffffff;">feat. 멋쟁이 사자처럼</div>
        </div>
    </footer>
</body>

</html>