{% extends 'base.html' %}
{% load static %}
{% block link %} {% static 'css/style.css' %}{% endblock %}
{% block title %} 예약자의 예약 리스트 페이지 {% endblock %}
{% block content %}

<style>
    table {
        width: 1000px;
        border-top: 1px solid #000000;
        border-collapse: collapse;
    }

    th,
    td {
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 15px;
    }

    th:first-child,
    td:first-child {
        border-left: none;
    }
</style>
<aside class="container">
    <div style="margin-bottom: 40px; margin-top: 40px;">
        <span style="font-size: 35px; font-weight: bolder;">{{ request.user }} 님의 예약 리스트입니다.</span> <br>
    </div>

    <br>
    <div style="padding: 20px 3px 20px">
        <span style="font-weight: bolder; font-size: 27px;">예약 정보</span><br>
    </div>
    {% for b in book %}
    {% if b.user_id == reqeust.user %}
    <div class="info_table">
        <table>
            <tr>
                <td width="200"><b>예약자 이름</b></td>
                <td>{{ b.booker_name }}</td>
            </tr>
            <td><b>전화번호</b></td>
            <td>{{ b.phoneNumber }}</td>
            </tr>
            <tr>
                <td><b>공간명</b></td>
                <td>{{ b.space_id }}</td>
            </tr>
            <tr>
                <td><b>예약 총 인원</b></td>
                <td>{{ b.num_of_people }} 명</td>
            </tr>
            <tr>
                <td><b>백신 접종 인원</b></td>
                <td>{{ b.num_of_vaccinated }} 명</td>
            </tr>
            <tr>
                <td><b>예약 날짜</b></td>
                <td>{{b.booking_date}}</td>
            </tr>
            <tr>
                <td><b>예약 시간</b></td>
                <td> {{b.booking_start}} ~ {{b.booking_end}} ({{b.time}}분)</td>
            </tr>
            <tr>
                <td><b>총 결제 금액</b></td>
                <td>{{b.payment}} 원</td>
            </tr>
        </table>
    </div>
    <br><br>
    {% endif %}
    {% endfor %} <br>
</aside>


{% endblock %}