{% extends 'base.html' %}
{% load static %}
{% block title %} 메인 페이지 {% endblock %}
{% block link %} {% static 'css/image.css' %}{% endblock %}
{% block content %}

<style>

.image {
  position:relative;
}

.image .text {
  position:absolute;
  top:200px;
  left:430px;
}
a:visited {
  color: black; text-decoration: none;
}


</style>

<head>
   <!-- jquery 사용 -->
   <script src="https://code.jquery.com/jquery-3.6.0.js"
       integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

   <!-- 부트스트랩 사용 -->
   <!-- 합쳐지고 최소화된 최신 CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

   <!-- 부가적인 테마 -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

   <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

   <meta charset="utf-8">
</head>

<div class = "container">
       <div class ="image">
         <img src="{% static 'img/img1.PNG' %}" style="width:1000px; height: 500px; opacity: 0.4;" alt="사진 로드 실패" />
         <div class = "text" style="text-align: center; font-weight: bolder;">
           <span>코로나 위드 사회 속에서<br>함께하는<br>With Cloud 입니다.</span>
         </div>
        </div>
       <br><br>

       <div class = "search_div">
           <input type="text" name = "search_space" placeholder="장소를 검색해주세요. (장소, 조건)">
           <button>검색</button>
       </div>
       <br> <br>
       <div style="width: 1000px;">
           <span>내가 필요한 공간 찾기</span>
           <span style="float: right;"><a href="">자세히보기</span>
       </div>
       

         <div class="row">
          <!-- 새로 추가한 부분 여기서부터 -->
            {% for space in spaces %}
            
            <div class="col-sm-6 col-md-6" style ="width: 515px;">  
              <div class="thumbnail">
                 {% if space.space_image %}
                 <img src="{{ space.space_image.url }}" alt="사진 로드 실패" />
                 {% endif %}
                 <div class="caption">
                   <h3>{{ space.space_name }}</h3>
                   {% for tag in space.tags.all %}
                      #{{ tag.name }}
                  {% endfor %} 
                  <br>
                   <span> 주소 : {{space.address}}</span> <br>
                   <b> 가격 </b> <span> {{space.price}}/시간 </span> <br>
                   
                   <a href="{% url 'space' space.id %}">자세히 보기</a>
                 </div>
               </div>
               </div>
            {% endfor %}


         <!-- 여기까지 -->

          
      </div>
   </div>


{% endblock %}