{% extends 'base.html' %}
{% load static %}
{% block title %} 공간 예약 페이지 {% endblock %}
{% block content %}

<style>
    .input_container {
        padding-bottom: 20px;
    }

    .input_text {
        border-radius: 8px;
        border: 1px solid #9D9D9D;
        height: 30px;
    }

    .input_text:focus {
        outline: none;
    }    
    .register_button {
        width: 200px;
        border-radius: 8px;
        border: 1px solid #9D9D9D;
        background-color: #CAD9EC;
        height: 30pt
    }

    .register_text {
        border-radius: 8px;
        border: 1px solid #9D9D9D;
</style>
<form method = "post" action = "{% url 'register' %}" enctype='multipart/form-data'>
    {% csrf_token %}

    <div class="container" style="margin-left: 37%; min-width: 50px">
    
            
        <div style="margin-bottom: 40px; margin-top: 40px;">
            <span style="font-size: 35px; font-weight: bolder;">공간 등록하기</span>
        </div>
        
        <div class="input_container">
            <div id=title><b>공간 이름</b></div>
            <input class ="input_text"type= "text" name = "space_name" placeholder="공간 이름을 입력해주세요." style="width: 410px;">
        </div>

        <div class="input_container">
            <div>
                <div id=title><label for="space_type">공간 유형</label></div>
                <select name = "space_type">
                    <option value="STUDY"> 스터디룸 </option>
                    <option value="STUDIO"> 촬영 스튜디오 </option>
                    <option value="CAFE"> 카페 단체석 </option>
                    <option value="RESTAURANT"> 음식점 단체석 </option>
                    <option value="MEETING"> 회의실 </option>
                    <option value="ETC"> 기타 </option>
                </select>
            </div>
        </div>


        <div class="input_container">
            <div>
                <div id="title"><label for="contact_number">전화번호</label></div>
                <input class="input_text" type="text" name="contact_number" style="width: 410px;">
            </div>
        </div>

        <div class ="input_container">
            <div>
                <div id = "title">
                    <label for = "price"> 시간 당 가격</label>
                </div>
                <input class ="input_text" type = "number" name = "price" style="width: 410px;">
            </div>
        </div>
    
        <div class = "input_container" >
            <div>
                <div id = "title">
                    <label for = "space_brief_detail"> 공간 정보</label>
                </div>
                <input class ="input_text" type = "text" name = "space_brief_detail" style="width: 410px;">
            </div>    
        </div>
    
        <div>
            <div>
                <label for = "space_detail"> 공간 상세 정보</label>
            </div>
            <textarea class = "register_text" name = "space_detail" cols="80" rows="10" style="width: 410px;"></textarea>
        </div>
    
        <div class ="input_container">
            <div>
                <div id = "title">
                   <label for = "tags"> 태그 달기</label>
                </div>
                <input class ="input_text" type = "text" name = "tags" style="width: 410px;">
            </div>
        </div>


        
        <div class ="input_container">
            <div>
                <div id = "title">
                    <label for = "price"> 시간 당 가격</label>
                </div>
                <input class ="input_text" type = "number" name = "price" style="width: 410px;">
            </div>
        </div>


        <div class ="input_container">
            <div>
                <div id = "title">
                    <label for="address">주소 : </label>
                </div>    
                <input class ="input_text" type="text" id="address" name="address">

            </div>
        </div>

        <button type="button" id="btn">지도 미리 확인하기</button>

        <div style="padding: 10px 0px 20px 0px">
            <div id="map" style="width:410px; height:350px"></div>
        </div>
        
        <div class ="input_container">
            <div>
                <label for="url"> 웹사이트 url</label>
            </div>
            <input class = "input_text" type="url" name="url" placeholder="https://example.com" size="100" style="width: 410px;">
        </div>
    
        <div class = "input_container">
            <div>
                <label for="space_image"> 대표 이미지 업로드 : </label>
                <input type="file" name="space_image" accept="image/png, image/jpeg">
            </div>
        </div>


         <button class ="register_button" type="submit"> 등록 완료 </button>

    </div>

        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee557e514b7deb78145a876b3049a7e1&libraries=services"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();
        var btns = document.querySelector('#btn');
        btns.addEventListener('click', e => {

            var keyword = document.getElementById('address').value;
            geocoder.addressSearch(keyword, function (result, status) {

                // 정상적으로 검색이 완료됐으면 
                if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: '<div style="width:150px;text-align:center;padding:6px 0;">테스트</div>'
                    });
                    infowindow.open(map, marker);

                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                }
            });

        })
    </script>
</form>

{% endblock %}