{% extends 'base.html' %}
{% load static %}
{% include "django/forms/widgets/input.html" %}
{% block title %} 공간에 대한 디테일 페이지 {% endblock %}
{% block link %} {% static 'css/table.css' %}{% endblock %}

{% block content %}
{{ form.media }}

<!-- 공간 상세 페이지 -->

{% if space.space_image %}
사진 : <img src="{{space.space_image.url}}" width="150">
{% endif %}

<div> 공간 운영자 : {{space.host_id}} </div>
<div> 공간 이름 : {{space.space_name}} </div>
<div> 공간 유형 : {{space.space_type}}</div>
<div> 전화번호 : {{space.contact_number}}</div>
<div> 시간당 가격 : {{space.price}}</div>
<div> 공간 정보 : {{space.space_brief_detail}}</div>
<div> 공간 상세 정보: {{space.space_detail}}</div>
<div> 태그 : {% for tag in space.tags.all %}
    #{{ tag.name }}
    {% endfor %}
</div>
<div>주소 : {{ space.address }}
    <div id="map" style="width:500px; height:350px;"></div>
</div>
<div> 사이트 주소 : <a>{{space.url}}</a></div>
<div> 좋아요 수 : {{space.space_likes}}</div>

<br>

<button><a href="{% url 'book' space.id %}"> 예약하기 </a></button>


<hr>

<!-- 리뷰 -->
{% if user.is_authenticated %}
<form action="{% url 'create_review' space.id %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="review_star"> 공간 별점:</label>
        <select name="review_star">
            <option value=1>⭐</option>
            <option value=2>⭐⭐</option>
            <option value=3>⭐⭐⭐</option>
            <option value=4>⭐⭐⭐⭐</option>
            <option value=5>⭐⭐⭐⭐⭐</option>
        </select>
    </div>
    <div>
        <textarea name="review_content" cols="70" rows="10" placeholder="{{space.space_name}}의 시설은 어땠나요?"></textarea>
    </div>
    <input type="submit" value="리뷰 등록">
</form>
{% endif %}

<br>

<!-- 모든 리뷰 보기 -->
<h2> 리뷰 보기 </h2>
<div>
    {% for review in space.review_set.all %}
    <div style="border: 1px solid black; width:300px;">
        <div>
            {{ review.user_id }}

            {% if review.review_star == '1' %}
            <span text-align="left">⭐</span>
            {% elif review.review_star == '2' %}
            <span>⭐⭐</span>
            {% elif review.review_star == '3' %}
            <span>⭐⭐⭐</span>
            {% elif review.review_star == '4' %}
            <span>⭐⭐⭐⭐</span>
            {% elif review.review_star == '5' %}
            <span>⭐⭐⭐⭐⭐</span>
            {% endif %}

        </div>
        {{ review.review_content|linebreaksbr }}
    </div>
    {% endfor %}
</div>

<!-- Q&A -->
<h2> Q&A </h2>
<form action="{% url 'create_question' space.id %}" method="POST">
    {% csrf_token %}
    질문 작성자 : <input type="text" name="writer" placeholder="작성자 이름"> <br>
    질문 내용: <br>
    <textarea name="question_content" cols="70" rows="5" placeholder="{{space.space_name}}에 대해 궁금한 점이 있나요?"></textarea>
    <button type="submit"> 리뷰 등록 </button>
</form>
<br>


<!-- 모든 질문 보기 -->
<h2> Questions </h2>
{% for question in space.question_set.all %}
<b>{{ question.writer|linebreaksbr }} </b>님의 질문 : {{ question.question_content|linebreaksbr }} <br>

<!-- 현재 user가 공간 등록자와 동일한 유저라면 위의 질문에 대한 답변 등록 가능-->
{% if request.user == space.host_id %}
<h4> 공간 운영자 {{user}} 님의 답변 달기 </h4>
<form action="{% url 'create_answer' space.id question.id %}" method="POST">
    {% csrf_token %}
    답변 :
    <textarea name="question_content" cols="30" rows="5"
        placeholder="{{question.writer}}님의 질문에 대한 답을 달아주세요."></textarea>
    <button type="submit"> 답변 등록 </button>
</form>
{% endif %}
{% endfor %}

<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee557e514b7deb78145a876b3049a7e1&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    var address = "{{space.address}}";
    var mark = "{{space.space_name}}";

    window.addEventListener('load', e => {
        geocoder.addressSearch(address, function (result, status) {

            // 정상적으로 검색이 완료됐으면 
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">' + mark + '</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });

    })
</script>

{% endblock %}